
.header{
    width: 100%;
    margin: 10px  0 10px 0;
    
    
    @include tablet-only{
        height: 70px;
    }
    &__logo{
        display: flex;
        justify-content: center;
        align-content: center;

        & > img{
            width: 50%;

            @include tablet-only{
                width: 40%;
            }
            @include desktop-only{
                width: 22%;
            }
        }
    }

    &__arrow > a{
        position: absolute;
        top: 1%;
        left: 3%;
        font-size: 25px;
        color: black;

        @include tablet-only{
        
        font-size: 35px;   
        }
        
    }  
}


