.restaurant__menu{
    display: flex;
    flex-direction: column;
    
    &__img{    
        width: 100%;
        height: 250px;
        object-fit: cover;

        @include tablet-only{
            object-fit: cover;
            height: 350px;
        }
    }

    & .img-1{
        @include tablet-only{   
        } 
        @include desktop-only{
            object-position: 0% 60%;
        } 
    }

    & .img-2{

        @include tablet-only{
             object-position: 50% 60%;
        }
        @include desktop-only{
            object-position: 0% 50%;
        }
    }

    & .img-3{

        @include tablet-only{
            object-position: 30% 90%;
        }
        @include desktop-only{
            object-position: 0% 55%;
        }
    }

    & .img-4{
        
        @include tablet-only{
            object-position: 0% 80%;
        }
        @include desktop-only{
            object-position: 0% 50%;
        }
    }
    
    &__content{
        width: 100%;
        margin-top: -20px; 
        background-color: $clr_bg_logo;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        
        @include tablet-only{
            margin: auto;
        }

        & > h4{
        margin: 0 0 25px 20px;
        padding-top: 40px;
        font-family: 'Shrikhand', cursive;
        font-size: x-large;

        @include tablet-only{
            font-size: xx-large;
        }
        } 
            
        .fa-solid, .fa-light{
        font-size: 30px;
        position: absolute;
        left: 87%;
        top: 23%;
        
        @include tablet-only{
            top: 30%;
            font-size: 40px;
        }
        @include desktop-only{
            top: 47%;
            font-size: 50px;
        }
        }
        &__starter, &__main__course, &__deserts{
            @include desktop-only{
                width: 33%;
                display:inline-block;  
            } 
        
        }

        &__starter > h5, &__main__course > h5, &__deserts > h5{
        margin: 10px 0 0 20px;
        padding: 2px;
        font-size: medium;
        opacity: 0.8;
        
        @include tablet-only{
            font-size: x-large;
        }
        &::after{
            content: "";
            font-size: 0;
            border-bottom: 3px solid #99E2D0;
            width: 40px;
            display: block;
        }
        }

        &__starter__btn, &__main__course__btn ,&__deserts__btn{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 90%;
            height: 70px;
            margin-top: 20px;
            margin-left: 5%;
            background-color: white;
            border-radius: 15px;
            box-shadow: 2px 2px 2px $clr_header_shadow;
            position: relative;
            overflow: hidden;
            
            
            &__text{
                width: 100%; 
                padding-left: 15px;
                background-color: white;
                border-radius: 20px;
                
                position: relative;
                overflow: hidden;
                
                & > h6{
                    padding-top: 2%;
                    margin: 0;
                    font-size: large;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                }

                & > p{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 5px;
                }
            }    
            &__price{
                display: block;
                transition: all 1s;
                font-weight: bold;
                margin-right: 20px;
            }

            &__slide{
                background-color: $clr_tertiary;
                display: flex;
                justify-content: center;
                width: 63px;
                height: 100%;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                margin-right: -63px;
                

                & > i{
                    color: white;
                    font-size: 27px;
                    padding: 50%;
                    transform: rotate(-270deg);
                }
                
            } 

            &:hover .restaurant__menu__content__starter__btn__slide, &:hover .restaurant__menu__content__main__course__btn__slide, &:hover .restaurant__menu__content__deserts__btn__slide{
                transition: margin-right 1s;
                margin-right: 0;
             
                & > i {
                    animation: 0.8s icon--rotate--menu ease-in-out forwards;
                }
            }
        }
    }
}
.btn--1, .btn--2, .btn--3,.btn--4, .btn--5, .btn--6, .btn--7, .btn--8, .btn--9,.btn--10{
    animation: menu--item--apparition 1s 1s ease-in-out both;
}
.btn--1{animation-delay: 2.2s}
.btn--2{animation-delay: 2.4s}
.btn--3{animation-delay: 2.6s}
.btn--4{animation-delay: 2.8s}
.btn--5{animation-delay: 3s}
.btn--6{animation-delay: 3.2s}
.btn--7{animation-delay: 3.4s}
.btn--8{animation-delay: 3.6s}
.btn--9{animation-delay: 3.8s}
.btn--10{animation-delay: 4s}