.load__disparition{
animation: disappear 1s ease-out forwards;
animation-delay: 2s; 

}

@keyframes disappear{
    from {
    opacity: 1;
    transform:rotate3d(0, 0, 0, 0deg) scaleY(1);
    
    }
    to {
    opacity: 0;
    transform: rotate3d(1, 1, 0, 360deg) scaleY(0);
    
    }
}


